<div class="wrapper">
  <h1>Klein Groß Fermate</h1>

  <div class="about">
    <div class="quote">
    "One needs to have an intuitive flash of light in order to find a new formula, which then can produce a lot of derivations and results." 
    <br>
    <div class="bold">- KARLHEINZ STOCKHAUSEN</div>
  </div>
   
  <div class="description">
     Klein Groß Fermate, is a simple means of producing instructional scores using a Naive Bayes Classifier. The idea was to use minimal elements of musical composition, small sonic events (klein) , large sonic events (Groß), and held events (Fermate). The process is simple, using a pseudo-random number generator, create a batch of instructional scores with the following elements. Then, label them according to whether or not each score  meets one's aesthetic criteria. When the batch has been labeled, the model for that particular day is saved, and new scores can be constructed with the new model. 
  </div>

  <div class="nav">
    <ul> 
      <li><%=link_to " Archive of Score Generators", generators_path%> </li>
      <li><%=link_to "Generate a Score Generator", new_generator_path %> </li>
    </ul>
  </div>
</div>
